.quem-somos{
    background: #F5F5F5;
    padding: 25px;
}
.quem-somos h1{
    font-size: 15px;
    text-align: center;
    color: black;
}

.container-quemsomos{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: auto;
    margin: 5%;
    gap: 10%; 
}

.img-quemsomos{
    width: 30%;
  }

.quem-somos-cabecalho {
    width: 30%;
}

.container-instagram{
    background: #f7dee0;
    width: 100%;
    padding: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: "Caveat", cursive;
    font-weight: 500;
    flex-direction: column;
    gap: 40px;
}

.container-instagram h1{
    padding-top: 50px;
    color: black;
    font-size: 25px;
    
}

.botao-quemsomos{
    background-color: #323232;
    color: rgb(228, 228, 228);
    border-radius: 8px;
    width: 96px;
    height: 44px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    border: none;
}
.botao-quemsomos:hover{
    background: #1f1f1f;
    color: white;
}
  
  
 
